[ng\:cloak], [ng-cloak], [data-ng-cloak], [x-ng-cloak], .ng-cloak, .x-ng-cloak {
  display: none !important;
}
.navbar-default .navbar-nav > li > a.app-title {
    margin-left: 0px;
    padding-left: 0px;
    font-family: 'Sansita One', cursive;
    font-size: 40px;
}
.navbar-default .navbar-nav > li > input.app-search {
    margin-top: 8px;
}
div.app-content {
    margin: 0px 10px;
}

div.gallery {
    margin-bottom: 10px;
}
div.image-box {
    margin: 0px 2px 8px 2px;
    width: 250px;
    height: 295px;
    text-align: center;
    display: inline-block;
}
div.image-caption {
    height: 45px;
    text-align: center;
    font-size: 80%;
    font-weight: normal;
    width: 250px;
    height: 45px;
}

div.page-navigation, div.page-results {
    font-size: 90%;
    /*margin-left: 10px;*/
    margin-bottom: 10px;
}
div.page-navigation {
    margin-top: 5px;
}
.keywords {
    color: #CC6600;
    font-weight: bold;
}
